/*TO DO
- cleaning
- media queries
- change bg header to https cloudinary version*/


@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Catamaran", Trebuchet, sans-serif;
  color: #323031;
  line-height: 2.5rem;
  background-color: #ececec;
}

header, nav, footer, section, figure, article img, iframe, legend {
  width: 100%;
}

article, footer div {
  width: 30%;
}

body, h3, ul, p, figure, fieldset {
  margin: 0;
}

fieldset, article, legend {
  background-color: #fff;
}

header, nav, .video-container, fieldset div {
  text-align: center;
}

body, input {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

nav a:hover, footer a:hover {
  color: #bbced3;
}

/*--------------------------------HEADER & NAV---------------------------*/

header {
  height: 600px;
  position: relative;
  background-image: url(../assets/rawpixel-256643-unsplash.jpg);
  background-position: top center;
  background-size: cover;
  padding-bottom: 0;
}

#header-img {
  margin: 400px auto 0 auto;
  -moz-box-shadow: 0 0 50px 20px #000;
  -webkit-box-shadow: 0 0 50px 20px #000;
  box-shadow: 0 0 50px 20px #000;
}

nav {
  position: fixed;
  top: 0;
  height: 70px;
  padding-top: 1rem;
  z-index: 5;
}

nav a {
  font-family: "Chela One", cursive;
  font-size: 3rem;
  color: #ffc857;
  text-transform: lowercase;
  text-shadow: 1px 1px 40px #000;
}

.sticky-dark {
  position: fixed;
  top: 0;
  background-color: #323031;
}

ul {
  height: 4rem;
  padding-bottom: 0;
  list-style-type: none;
}

li {
  display: inline;
  padding: 0 2rem;
}

h2 {
  font-size: 3rem;
  color: #177e89;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin: 0 0 2rem 0;
  padding: 2rem 0 0 0;
}

h3 {
  padding: 1rem 1rem 0 1rem;
  color: #c8102e;
}

main {
  display: block;
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 2rem;
}

/*--------------------------ABOUT---------------------------------*/

.flex-container-between {
  display: flex;
  justify-content: space-between;
}

article img {
  height: auto;
}

article > p {
  padding: 1rem 1rem 2rem 1rem;
}

/*----------------------SCRIPTORIUM-----------------*/

section > p {
  padding: 0 1rem 2rem 1rem;
}

.video-container {
  justify-content: center;
  display: flex;

}

iframe {
  max-width: 560px;
  padding-top: 2rem;
  border: 0;
}

/* ---------------------------------FORM ----------------------------------*/

fieldset {
  border: 0;
  padding: 0 0 2rem 0;
}

fieldset div {
  position: relative;
  margin-bottom: 2rem;
}

legend {
  margin: 0 0 1rem 0;
  padding: 1rem;
}

form {
  padding: 0;
}

label {
  text-align: right;
}

input {
  margin: 0 2rem;
  padding: 0.5rem;
  background-color: #ffc857;
  border: 5px solid #ffc857;
  font-family: "Catamaran", Trebuchet, sans-serif;
}

input[type="email"]:focus:invalid {
  border-color: #c8102e;
}

input[type="email"]:focus:valid {
  border-color: #177e89;
}

input[type="submit"] {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #323031;
  font-weight: bold;
}

input[type="submit"]:hover {
  cursor: pointer;
  border-color: #177e89;
}


/*---------------------------------FOLLOW--------------------------------*/

.flex-container-footer, .flex-container-icon {
  display: flex;
  justify-content: space-around;
}

.flex-container-footer div, .flex-container-icon div {
  margin: 1rem 1rem 3rem 1rem;
}

.fab {
  font-size: 5rem;
  color: #323031;
}

.fab:hover {
  color: #c8102e;
}


/*--------------------------FOOTER-----------------------------------*/

footer {
  background-color: #323031;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  padding: 1rem;
}

footer a {
  color: #ffc857;
}

.toplink {
  font-size: 1.5rem;
  text-align: center;
}


/*------------------------MEDIA QERIES------------------------------*/

@media (max-width: 700px) {

  .flex-container-between,
  .flex-container-footer {
    flex-flow: column;
  }

  footer {
    padding: 0.5rem;
    line-height: 1.2rem;
  }

  article, footer div {
    width: 90%;
  }

  footer, .credit {
    text-align: center;
  }





}
