@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", Trebuchet, sans-serif;
  font-size: 1.5rem;
  background-color: #ececec;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(../assets/rawpixel-256643-unsplash.jpg);
  background-position: top center;
  background-size: cover;
  /*background-color: yellow;*/
  padding-bottom: 0;
  text-align: center;
}

#header-img {
  margin: 350px auto 0 auto;
  -moz-box-shadow: 0 0 50px 20px #000;
  -webkit-box-shadow: 0 0 50px 20px #000;
  box-shadow: 0 0 50px 20px #000;
}

ul {
  list-style-type: none;
  height: 4rem;
  padding-bottom: 1rem;
  margin: 0;
  /*background: navy;*/
}

li {
  display: inline;
  padding: 0 2rem;
}

nav {
  position: absolute;
  bottom: 0;
  top: 500px;
  text-align: center;
  height: 64px;
  width: 100%;
  /*background-color: #121212;*/

}

nav a {
  font-family: "Chela One", cursive;
  font-size: 3rem;
  color: #ffc857;
  text-transform: lowercase;
  text-shadow: 1px 1px 40px #000;
  /*color: #c8102e; #177e89*/
}

nav a:hover {
  color: #bbced3;
}

h2 {
  font-size: 3rem;
  color: #177e89;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin: 0;
  padding: 2rem 0 0 0;
}

h3 {
  margin: 0;
  padding: 1rem 1rem 0 1rem;
  color: #c8102e;
}

main {
  display: block;
  width: 100%;
}

section {
  padding: 2rem;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}


article {
  width: 30%;
  background-color: #fff;
}

figure {
  width: 100%;
  margin: 0;

}

article img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 1rem;
}

.vid {
  /*overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;*/
  text-align: center;
  justify-content: center;
  display: flex;

}

.vid iframe {
  /*left:0;
  top:0;
  width:50%;
  height: auto;
  margin: 0 auto;
  position:absolute;*/
  max-width: 560px;
  width: 100%;
  padding-top:2rem;
}

/* ---------------------------------FORM ----------------------------------*/

fieldset {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset div {
  position: relative;
  height: 3rem;
  margin: 2rem;
  text-align: center;
  background-color: cyan;
}

legend {
  width: 100%;
  margin: 0;
  background-color: #fff;
}

form {
  padding: 0;
}

.input-container {
  width: 100%;
  padding: 0;
  margin:0;
  background-color: green;

}
/*
.lab-cont {
  width: 45%;
  background-color: navy;
  margin: 0 auto;
}

.int-cont {
  width: 45%;
  background-color: khaki;
  margin: 0 auto;
}
*/
input {
  background-color: yellow;

  text-align: left;
}

label {


  background-color: red;

  text-align: right;
}
